.powerup-speed {
    background-image: url('/assets/sprites/powerup.svg');
}

.powerup-double {
    background-image: url('/assets/sprites/powerup1.svg');
}

.powerup-invincible {
    background-image: url('/assets/sprites/powerup2.svg');
}

#powerups span {
    padding: 2px 8px;
    border-radius: 4px;
    margin: 0 2px;
    font-weight: bold;
}
